*.pdf

.DS_Store

**/*.DS_Store

.vscode/*
!.vscode/launch.json

*.swp

**/a.out

**/*.o

spacex

**/spacex

obj/*

*.dSYM

log/*.log

**/*.log

log/**

log/*.html

build/**

CMake*

tmp/**

.cache

**/multiple_same
**/file_should_exist_after

**/store/**
